.AboutUs-container{
  background-color: rgb(108, 199, 199);
  width: 100%;
  text-align: center;
}

.AboutUs{
  color: brown;
  font-size: 53px;
  margin-bottom: 25px;
}

.AboutUs-p{
color: aliceblue;
font-size: 25px;
text-indent: 15px;
font-family: Arial, Helvetica, sans-serif;
margin: 10px;
}