.countries-container{
  background-color: rgb(141, 192, 250) ;
  width: 100%;
  margin-top: 25px;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}

.country{
  border: 1px solid red;
  color:black;
  background-color: burlywood;
  font-size: 35px;
}

.link-css{
  margin-top: 15px;
  font-size: 25px;
}