.HomePage-container{
  background-color: rgb(174, 243, 161) ;
  width: 100%;
  margin-top: 25px;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}


.title{
  color: white;
  font-size: 53px;
  margin-top: 25px;
  text-align: center;
  padding: 0;
  box-sizing: border-box;

}

.title2{
  color: rgb(175, 43, 43);
  font-size: 42px;
}

img{
border-radius: 5px;
}